meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
meta(name="title" content="Single Page Application")
meta(name="description" content="Start-kit")
